@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "montserrat", sans-serif;
}

.body-generate {
   background-image: linear-gradient(to bottom right, #5200ff, #4200ff);
}

[for="upload"] {
   background-color: #3700d4;
   color: #ccbaff;
}

[data-warna="palet-hex"],
[data-warna="dominan-hex"] {
   color: #555555;
}

@media (min-width: 640px) {
   [data-warna="palet"],
   [data-warna="dominan"] {
     min-width: 48px;
     max-width: 48px;
     min-height: 48px;
     max-height: 48px;
   }
} 